<ion-router-outlet></ion-router-outlet>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="register">
      <ion-icon name="save-outline"></ion-icon>
      Register
    </ion-tab-button>
    <ion-tab-button tab="list-profile"> 
      <ion-icon name="list-outline"></ion-icon>
      List Profile
    </ion-tab-button>
   
  </ion-tab-bar>
</ion-tabs>