<ion-header>
  <ion-toolbar>
    <ion-title class="ion-title">Profiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3 *ngIf="!profiles">You have no <b>profiles</b> registered yet.</h3>
  <ion-item *ngFor="let profile of profiles">
    <ion-card class="ion-card">
      <ion-card-header>
        <div class="card-container">
          <div class="image-container">
            <ion-img [src]="profile.profilePic.data"></ion-img>
          </div>

          <div class="info-container">
            <h3>{{profile.firstName}}, {{profile.lastName}}</h3>
            <h4>{{profile.jobTitle}}</h4>
            <h5>{{profile.localAddress}}, {{profile.state}}</h5>
            <h5>{{profile.phone}}</h5>

          </div>
        </div>
      </ion-card-header>

    </ion-card>
  </ion-item>

</ion-content>