.ion-padding h3 {
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .ion-padding b {
    font-weight: bold;
    color: coral;
  }
  .card-container{
    width: 100%;
    display: flex;
  }
  .ion-card{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5px;
  }
  .ion-title{
    color: coral;
  }
  .image-container{
    min-width: 40%;
    max-width: 40%;
  }
  .info-container{
    min-width: 62%;
  }
  .info-container h3 {
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 0px;
  }  
  ion-img::part(image) {
    border-radius: 10px;
  }
  .info-container h4 {
    font-weight: bold;
    font-size: 11px;
    color: coral;
    margin-left: 10px;
    margin-top: -10px;
  }
  .info-container h5 {
    font-weight: bold;
    font-size: 10px;
    margin-left: 10px;
    margin-top: -10px;
  }