
<ion-header>
    <ion-toolbar>
      <ion-title class="ion-title">Profile Form</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  
    <div class="ion-page" id="main-content">
    
      <ion-content class="ion-padding">
        <h3>Fill out the information to register <b>your profile.</b></h3>
        <div>
          <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <ion-list>
              <ion-item class="input-field">
                <ion-label position="floating">First Name</ion-label>
                <ion-input formControlName="firstName"></ion-input>
              </ion-item>
              <ion-item class="input-field">
                <ion-label position="floating">Last Name</ion-label>
                <ion-input formControlName="lastName"></ion-input>
              </ion-item>
              <ion-item class="input-field">
                <ion-label position="floating">Job Title</ion-label>
                <ion-input formControlName="jobTitle"></ion-input>
              </ion-item>
              <ion-item class="input-field">
                <ion-label position="floating">Street, City</ion-label>
                <ion-input formControlName="localAddress"></ion-input>
              </ion-item>
              <ion-item class="input-field-max">
                <ion-select  formControlName="state" interface="action-sheet" placeholder="Select State">
                  <ion-select-option *ngFor="let state of statesList" [value]="state">{{ state }}</ion-select-option>
                </ion-select>
              </ion-item >
              <ion-item class="input-field-max">
                <ion-label>Phone</ion-label>
                <ion-input class="ion-text-right" formControlName="phone" maxlength="255" type="tel" placeholder="+99 99 9999-99999" mask="+** ** ****-*****"></ion-input>
              </ion-item>
              <ion-item class="input-field-max">
                <ion-label>Birthdate</ion-label>
                <ion-datetime-button format="YYYY-MM-DD" datetime="datetime"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime presentation="date" formControlName="birthdate" id="datetime"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
              <div class="image-container" *ngIf="image">
                <ion-img [src]="image.data"></ion-img>
              </div>
              <ion-item class="input-field-max">
                <ion-label>Picture</ion-label>
                <ion-button (click)="choosePictures()" style="--background:#FF7F50">Upload Image</ion-button>
              </ion-item>
            </ion-list>
            <div class="register-button">
              <ion-button style="--background:#FF7F50" class="submit-button" type="submit" expand="block">Register profile</ion-button>
            </div>
          </form>
    
        </div>
      </ion-content>
    
    </div>
  </ion-content>
