#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
.input-field{
  margin-top: 10px;
}
.image-container{
  width: 80%;
  margin-left: 10%;

}
.image-container ion-img {
  border-radius: 10px;
}
.input-field-max{
  margin-top: 20px;
}
.ion-padding h3 {
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
}
.ion-padding b {
  font-weight: bold;
  color: coral;
}
.ion-title{
  color: coral;
}
.register-button{
  margin-top: 20px;
}
.ion-padding form {
  margin-top: 30px;
}
.ion-padding div{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-img::part(image) {
  border-radius: 10px;
}